{% extends "index.html" %}
{% load static %}
{% block title %} О нас{% endblock title %}

{% block content %}
    <section class="showcase">
        <header>
                <a href={% url 'home' %}><h2 class="logo">Just Chill It</h2></a>
                <div class="hello">
                    {% if user.is_authenticated %}
                        <ul>
                        <li><a href="#">{{ user.username }}</a>
                            <ul>
                                <li><a href="{% url 'password_change' %}">Поменять пароль</a></li>
                                <li>
                                    {% if user.is_superuser %}
                                    <a href="{% url 'article_new' %}">Добавить новость</a>
                                    {% endif %}
                                </li>
                                <li><a href="{% url 'logout' %}">Выйти</a><p></li>
                            </ul>
                        </li>
                
                    {% else %}
                <div class="login">
                    <a href="{% url 'login' %}"> Войти</a>
                    <a href="{% url 'signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
                </div>
                <div class="toggle"></div>
            </header>

        

		<div class="logo-gif">
		    <img src="{% static 'gif/logo.gif'%}" alt="">
		</div>
        <pre>           </pre>

        <div class="text">
            <h2>Зачем</h2>
            <h3>Мы нужны?</h3></br></br>
            <p style="font-size:18px;">
			Наш сайт посвящен психическому здоровью и почему так важно его сохранять.</br>Многие слышали крылатую фразу «все болезни от нервов». Однако, насколько простым и естественным шагом при телесном недомогании обратиться за медицинской помощью, настолько же часто состояния стресса.</br> переживания тревоги, снижение настроении остаются без должного внимания.

			Известно, что, когда люди получают соответствующую помощь при нарушениях психического здоровья, они не так часто обращаются за медицинской помощью в целом. Существуют данные, согласно которым, люди, имеющие нерешенные проблемы с психическим здоровьем, посещают врачей общего профиля в два раза чаще, чем те, кто получает специализированную, психиатрическую и психологическую помощь.

			Чрезмерное беспокойство и стресс могут способствовать развитию некоторых болезней сердца, ослабить силы иммунной системы. Психологические проблемы также увеличивают вероятность неправильного поведенческого выбора, что проявляется в пристрастии х курению и наркотикам, злоупотреблении алкоголем. Существует тесная взаимосвязь между психикой и физическим состоянием человека. 
			Чувство тревоги, постоянные стрессы и переживания могут привести х ухудшению здоровья. Люди, которые заботятся о психическом здоровье, как правило, достигают больших успехов, как в профессиональной, так и личной сфере. Психическое здоровье важно в плане коммуникации, в первую очередь, в семье. 
			</p>
        </div>
        <ul class="social">
            <li><a href="https://ru-ru.facebook.com/" target="_blank"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="https://twitter.com/" target="_blank"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </section>
        <div class="menu">
            <div class="menu_settings">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'radio' %}">Radio</a></li>
                    <li><a href="{% url 'article_list' %}">Articles</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    <script>
        const menuToggle = document.querySelector('.toggle')
        const showCase = document.querySelector('.showcase')

        menuToggle.addEventListener('click', function() {
            menuToggle.classList.toggle('active')
            showCase.classList.toggle('active')
        })
    </script>
{% endblock %}