{% extends 'index.html' %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <section class="showcase">
            <header>
                <a href={% url 'home' %}><h2 class="logo">Just Chill It</h2></a>
                <div class="hello">
                    {% if user.is_authenticated %}
                        <ul>
                        <li><a href="#">{{ user.username }}</a>
                            <ul>
                                <li><a href="{% url 'password_change' %}">Поменять пароль</a></li>
                                <li>
                                    {% if user.is_superuser %}
                                    <a href="{% url 'article_new' %}">Добавить новость</a>
                                    {% endif %}
                                </li>
                                <li><a href="{% url 'logout' %}">Выйти</a><p></li>
                            </ul>
                        </li>
                
                    {% else %}
                <div class="login">
                    <a href="{% url 'login' %}"> Войти</a>
                    <a href="{% url 'signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
                </div>
                <div class="toggle"></div>
            </header>


            <div class="overlay"></div>

            
            <div class="article-entry">
                <div class="text-article" >
                    <h2>{{ object.title }}</h2>
                    {% if object.cover.url%}
                    <div class="text-article-img">
                    <img src="{{ object.cover.url }}" style="width:950px; height: 400px">
                    </div>
                    {% endif %}
                    <hr/><br/><br/><br/>
                    <p style="font-size:18px;"> {{ object.body }}</p>
                
                {% if user == object.author %}
                    <p>by {{ object.author }} | {{ object.date }}</p><p><a href="{% url 'article_edit' article.pk%}">Изменить</a> | <a href="{% url 'article_delete' article.pk %}">Удалить</a></p>
                {% endif %}
                </div> 
                <p>Назад к другим <a href="{% url 'article_list'%}">Новостям</a></p>
                <br><br><br>
                    {% comment %} <h4>Комментарии</h4>
                    <br>
                        {% for comment in article.comments.all %}
                        {{comment.author}} {{ comment }}<br><br>
                        {% endfor %}  
                    <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-info ml-2" type='submit'>Обновить</button>
                    </form></div>              {% endcomment %}

            </div>
            <div class="comment">

            </div>
            
            <ul class="social">
                <li><a href="https://ru-ru.facebook.com/" target="_blank"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
                <li><a href="https://twitter.com/" target="_blank"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
            </ul>
        </section>

        <div class="menu">
            <div class="menu_settings">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'radio' %}">Radio</a></li>
                    <li><a href="{% url 'article_list' %}">Articles</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>                  
                </ul>
            </div>
        </div>
        <script>
            const menuToggle = document.querySelector('.toggle')
            const showCase = document.querySelector('.showcase')

            menuToggle.addEventListener('click', function() {
                menuToggle.classList.toggle('active')
                showCase.classList.toggle('active')
            })
        </script>
{% endblock %}