{% extends 'index.html' %}
{% load static %}
{% block title %}Статьи{% endblock%}
{%block content %}
    <section class="showcase">
            <header>
                <a href={% url 'home' %}><h2 class="logo">Just Chill It</h2></a>
                <div class="hello">
                    {% if user.is_authenticated %}
                        <ul>
                        <li><a href="#">{{ user.username }}</a>
                            <ul>
                                <li><a href="{% url 'password_change' %}">Поменять пароль</a></li>
                                <li>
                                    {% if user.is_superuser %}
                                    <a href="{% url 'article_new' %}">Добавить новость</a>
                                    {% endif %}
                                </li>
                                <li><a href="{% url 'logout' %}">Выйти</a><p></li>
                            </ul>
                        </li>
                
                    {% else %}
                <div class="login">
                    <a href="{% url 'login' %}"> Войти</a>
                    <a href="{% url 'signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
                </div>
                <div class="toggle"></div>
            </header>



            <div class="overlay"></div>
            <div class="text-articles-list" style="font-size:18px;"><br>
                {% for article in object_list %}
                
                <h3><a href="{% url 'article_detail' article.pk %}"> <span >{{ article.title }}</span></a></h3><hr/></br></br>
                    
                    <div class="text-article-img">
                    <img src="{{ article.cover.url }}" style="width:700px; height: 500px; margin-left: 300px;">
                    </div>
                    
                    
                    {{article.body|truncatechars:550 }} <a href="{% url 'article_detail' article.pk %}">   Читать далее</a><hr/>        
                    {% if user.username == object.author %}
                    <a href="{% url 'article_edit' article.pk %}">Изменить</a> | <a href="{% url 'article_delete' article.pk %}">Удалить</a>{% endif %}                    
                    <br/><br/>
            
            {% endfor %}
            </div>
             
            
            <ul class="social">
                <li><a href="https://ru-ru.facebook.com/" target="_blank"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
                <li><a href="https://twitter.com/" target="_blank"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
            </ul> 
        </section>

        <div class="menu">
            <div class="menu_settings">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'radio' %}">Radio</a></li>
                    <li><a href="#">Articles</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
        <script>
            const menuToggle = document.querySelector('.toggle')
            const showCase = document.querySelector('.showcase')

            menuToggle.addEventListener('click', function() {
                menuToggle.classList.toggle('active')
                showCase.classList.toggle('active')
            })
        </script>

{% endblock content %}